<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Examination System</title>

    <link rel="stylesheet" href="/static/css/student_available_exams.css">
</head>

<body>
    <div id="main">
        <div id="navbar">


            <nav>
                <div class="logo">Online Examination</div>

                <ul class="menu-area">
                    <li><a href="http://localhost:8000/">Home</a></li>
                  
                </ul>
            </nav>


        </div>


        <div id="center">



            <div id="left">

                <aside>

                    <!-- <div id="user-image">Image</div> -->
                    <br>
                    <div id="user-information">
                        <div>{{request.session.realname}}</div>
                        <div>(Student)</div>
                    </div>
                    <br>


                    <ul id="left-menu">



                        <li><a href="http://localhost:8000/exam/student_after_login/"><i
                                    class="fa-solid fa-gauge-high fa-2x"></i> <br> Dashboard</a></li>
                        <br>
                        <li><a href="http://localhost:8000/exam/student_available_exams/"><i
                                    class="fa-solid fa-paste fa-2x"></i> <br> Examination</a></li>
                        <br>
                        <!-- <li><a href="http://localhost:8000/exam/student_result/"><i
                                    class="fa-solid fa-arrow-up-right-dots fa-2x"></i><br> My Marks</a></li> -->

                    </ul>

                </aside>





            </div>

            <div id="right">
                <div id="content">

                    <h1>Available Exams</h1>



                    <table>
                        <tr>

                            <th>Exam Name</th>
                            <th>Action</th>
                        </tr>

                        {% for course in courses%}
                        <tr>

                            <td> {{course.coursename}} </td>
                            <td>
                                <a href="http://localhost:8000/exam/student_exam_instructions?course={{course.coursename}}">Attend Exam <i class="fa-solid fa-flag-checkered"></i></a>
                            </td>
                        </tr>
                        {%endfor%}
                    </table>



                </div>

            </div>
        </div>


        <div id="footer">
            <div id="footer-text">
                Online Examination System
            </div>
        </div>

    </div>


    <!-- Font awesome kit -->
    <script src="https://kit.fontawesome.com/ac12e87ac4.js" crossorigin="anonymous"></script>
</body>

</html>