<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Examination System</title>

    <link rel="stylesheet" href="/static/css/teacher_login_signup.css">
</head>

<body>
    <div id="main">
        <div id="navbar">


            <nav>
                <div class="logo">Online Examination</div>

                <ul class="menu-area">
                    <li><a href="http://localhost:8000/">Home</a></li>
                    <!-- <li><a href="http://localhost:8000/exam/teacher_login_signup/">Teacher</a></li>
                    <li><a href="http://localhost:8000/exam/student_login_signup/">Student</a></li>
                    <li><a href="http://localhost:8000/admin/">Admin</a></li> -->
                    <!-- <li><a href="">Contact</a></li> -->
                </ul>
            </nav>


        </div>


        <div id="center">






            <div id="content">


                <div id="welcome-text">
                    <h1>Hello Teacher,</h1>
                    <p>and Welcome to Online Examination System</p>
                </div>
                <br>
                <div id="action-outer-box">
                    <p> <b>Select any of them to access into the system :</b> </p>

                    <div id="action-inner-box">
                        <div class="blue-box">
                            <a href="http://localhost:8000/exam/teacher_signup/">Create Your Account</a>
                        </div>
                        <div class="green-box">
                            <a href="http://localhost:8000/exam/teacher_login/">Login Now</a>
                        </div>



                    </div>
                </div>





            </div>


        </div>


        <div id="footer">
            <div id="footer-text">
                Online Examination System
            </div>
        </div>

    </div>



</body>

</html>