* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}


/* **************************************BODY********************************************************* */
body {
    font-family: sans-serif;
    /* height: 100%; */
    /* height: 1000px; */
    /* position: relative; */

}


/* ***************************************MAIN********************************************************* */
#main {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}


/* ************************************NAVIAGATION BAR************************************************** */
#navbar {
    position: sticky;
    top: 0%;
    width: 100%;

    z-index: 10;
}

nav {
    /* position:relative; */
    /* width: calc(100% - 60px); */
    margin: 0 auto;
    padding: 10px 0;
    background: #333;
    text-align: right;
    padding-right: 2%;





}


.logo {
    width: 35%;
    float: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    text-align: left;
    padding-left: 2%;
}

.menu-area li {
    display: inline-block;
}

li a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

a {
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding: 0 25px;
    font-size: 14px;
    line-height: 30px;
    /* position: relative; */
    z-index: 1;
}

a:hover {
    background: tomato;
    color: #fff;
}







/* *******************************************CENTER************************************************* */
#center {
    display: flex;
    flex-direction: row;
    height: 652px;
    margin-bottom: 3.3%;

    width: 100%;

}




#left {

    /* width: min-content; */
    width: 10%;

    word-break: break-all;

    overflow: hidden;

}



#left li a {
    line-height: 25px;
}

aside {
    border: 1px solid black;
    height: 100%;


    /* width: fit-content; */

    color: white;
    margin: 0 auto;
    padding: 30px 0;
    background: #333;
    z-index: -1;
    text-align: center;

}

#user-image {
    line-height: 25px;
}


#user-information {
    line-height: 25px;
    margin: 20px;
}


#right {
    padding: 10px;
    display: flex;
    flex-direction: row;

    /* border: 4px solid red; */


    

    width: 90%;

}

#content {
    word-break: break-all;

    /* border: 2px solid green; */
    width: 100%;
    position: relative;



    overflow: hidden;

    
   
}


#content a {
    color: lightseagreen;
    text-decoration: none;
}

#content a:hover {
    color: white;
}


/*************Abhi Add Kiya Hai***************/


h1{
    margin: 1% 40%;
}


table {
    /* position: absolute; */
    /* z-index: 2; */
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 96%;
    /* height: 100%; */
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64, 64, 64, .7);
    /* border-radius: 12px 12px 0 0; */
    overflow: hidden;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;

}

td,
th {
    padding: 15px 20px;
    text-align: center;


}

th {
    background-color: rgb(8, 156, 186);
    color: #fafafa;
    font-family: 'Open Sans', Sans-serif;
    font-weight: 200;
    text-transform: uppercase;

}

tr {
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}









/* **********************************************FOOTER*************************************************** */
#footer {

    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 10;
}

#footer-text {
    border: 1px solid black;
    color: white;
    margin: 0 auto;
    padding: 1% 0;
    background: #333;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

}